#principal {
    background-color: rgb(56, 56, 56);
}
header {
    width: 100%;
    margin: 0 auto;
    border-bottom: solid 1px #757575;
    border-top: solid 1px #757575;
    height: 400px;
}
/* Slide Automatico  */
.mySlides {
    display: none;
}
.mySlides img {
    height: 400px;
}
img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  /* position: relative; */
  margin: auto;
}
/* The dots/bullets/indicators */
#dots {
    margin-top: -1.6rem;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
@media screen and (max-width:600px) {
    header {
        height: 300px;
    }
    .mySlides img {
        height: 300px !important;
    }
    
}
@media screen and (min-width:1100px) {
    header {
        height: 500px;
    }
    .mySlides img {
        height: 500px !important;
    }
    
}
@media screen and (min-width:1300px) {
    header {
        height: 600px;
    }
    .mySlides img {
        height: 600px !important;
    }
    
}
@media screen and (min-width:1550px) {
    header {
        height: 700px;
    }
    .mySlides img {
        height: 700px !important;
    }
    
}
@media screen and (min-width:1650px) {
    header {
        height: 800px;
    }
    .mySlides img {
        height: 800px !important;
    }
    
}

main {
    height: auto;
    width: 100%;
    background-color: #bbb;
    margin: 0 auto;
    display: flex;
}
#Conteudo {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.6rem;
    justify-content: center;
    background-color: aliceblue;
    padding-top: 1rem;
}
.conteinerConteudo {
    width: 50%;
    max-width: 450px;
    height: 250px;
    background-color: #ffff;
    margin-bottom: 0.8rem;
    box-shadow: 0px 0px 6px 0px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0.6rem;
}
.conteinerMiniUm {
    width: 90%;
    height: 78%;
    background-color: #757575;
}
.conteinerMiniDois {
    width: 10%;
    height: 78%;
    background-color: #b8b8b8;
}
.conteinerMiniDois p {
    margin-left: 0.2rem;
}
.conteinerMiniTres {
    width:100% ;
    height: 22%;
    background-color: #cfcfcf;
}
#Navegacao {
    width: 20%;
    background-color: rgb(222, 228, 233);

}
#MiniAUm {
    background-image: url(../img/MuseuNacional4.jpg);
    background-size: 100% 100%;
}
#MiniADois{
    background-image: url(../img/MuseuNacional5.jpg);
    background-size: 100% 100%;
}
#MiniATres {
    background-image: url(../img/MuseuNacional3.jpeg);
    background-size: 100% 100%;
}
#MiniAQuatro {
    background-image: url(../img/MuseuNacional2.jpg);
    background-size: 100% 100%;
}
#MiniACinco {
    background-image: url(../img/MuseuNacional1.jpg);
    background-size: 100% 100%;
}
#MiniASeis {
    background-image: url(../img/MuseuNacional4.jpg);
    background-size: 100% 100%;
}

@media screen and (max-width:600px) {
    .conteinerConteudo {
        width: 40%;
        height: 80px;
    }
    
}
@media screen and (max-width:700px) {
    .conteinerConteudo {
        width: 40%;
        height: 50px;
    }
    
}
@media screen and (max-width:1177px) {
    .conteinerConteudo {
        width: 40%;
        height: 200px;
    }
    .conteinerMiniDois ,p ,h4 {
        font-size: 0.7rem;
    }
}
@media screen and (max-width:530px) {
    .conteinerMiniDois h4 {
        font-size: 0.6rem;
    }
}
@media screen and (max-width:420px) {
    .conteinerMiniDois ,p ,h4 {
        font-size: 0.6rem;
    }
}
@media screen and (max-width:360px) {
    .conteinerMiniDois ,p ,h4 {
        font-size: 0.5rem;
    }
}










#horario{
    display: flex;
    width:100%;
    margin: 0 auto;
    /* background-color: aliceblue; */
}
.horario {
    width: 33.33%;
    background-color: rgb(197, 197, 197);
    color: black;
    border-bottom: solid 1px #757575;
}
#horarioEsquerda {
    border-right: solid 1px rgb(190, 190, 190);
}
#horarioMeio {
    border-right: solid 1px rgb(190, 190, 190);
    border-left: solid 1px rgb(190, 190, 190);
}
#horarioDireita {
    border-left: solid 1px rgb(190, 190, 190);
    
}
.horarioFi {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* #EsquerdaFi {} */
#EsquerdaFi p {
    font-weight: 600;
    margin-top: 1rem;
}
#EsquerdaFi h5 {
    font-weight: 500;
    margin-left: 1rem;
}
/* #EsquerdaFi h6{
    visibility: hidden;
    margin-top: 1rem;
}
#EsquerdaFi h6:hover{
    visibility: visible;
}
#MeioFi {

} */
#DireitaFi h5{
    margin-top: 0.5rem;
}
#horarioEsquerda:hover {
    background-color: rgb(131, 131, 131);
    height: 300px;
    margin-top: -105px;
    border-radius: 3rem 3rem 0rem 0rem;
}
#horarioMeio:hover {
    background-color: rgb(131, 131, 131);
    height: 300px;
    margin-top: -105px;
    border-radius: 3rem 3rem 0rem 0rem;
}
#horarioDireita:hover {
    background-color: rgb(131, 131, 131);
    height: 300px;
    margin-top: -105px;
    border-radius: 3rem 3rem 0rem 0rem;
}
#mapa{
    width: 100%;
    height: 150px
}
#mapa:hover{
    height: 250px;
    width: 100%;
}
footer {
    height: 30px;
}